extends layout

block content
  .container
    .row
      .col-sm-12
        #user
          h1.text-center.login-title #{project.name}
          .signup-wall
            .row
              .col-sm-12
                h1 This is where you upload files               
            .row
              .col-sm-12
                h1 Project Dashboard Here
            .row
              .col-sm-12
                form(action='/upload', method='post', enctype='multipart/form-data')
                  input(type='file' class='filestyle' name='image' )
                  input(type='submit' value='Upload File') 
            .row
              .col-sm-12
                h3
                  a(href='/#{user._id}/home') Home
