extends layout

block content
  .container
    .row
      .col-sm-12
        #user
          h1.text-center.login-title Project Page
          .signup-wall
            .row
              .col-sm-12
                h1 This is your project page
            .row
              .col-sm-12
                h1 This is where you upload files               
            .row
              .col-sm-12
                h1 Project Dashboard Here
            .row
              .col-sm-12
                h3
                  a(href='/home') Home